body
{
    width: 500px;
    padding-left: 33%;
    padding-top: 2%;
    margin:0px;
    font-family:arial;
}

a /* Tout les liens */
{
    text-decoration:none;
    color:#0251b1;
}

input::placeholder /* Placeholder de tout les input */
{
    font-weight:bold;
}

.container-main /* Conteneur principal */
{
    width:100%;
    background-color: #F2F3F4;
    border-radius: 5px;
}

.cnx-form-container /* Conteneur du formulaire de connexion en haut */
{
    width:100%;
    background-color: #084B8A;
    color:white;
    border-radius: 5px 5px 0 0;
    padding-bottom: 5px;
}


/* Formulaire de connexion */

form.cnx-form /* Formulaire de la classe .cnx-form */
{
    display: flex;
    padding:10px 20px 10px 30px;
}

form.cnx-form label
{
    font-size:0.8em;
    font-weight:bold;
}

.label-input
{
    display: flex;
    flex-direction: column;
    width: 45%;
    display: inline;
}

form.cnx-form input[type=text], input[type=password]
{
    width:85%;
    padding:4px;
}

form.cnx-form input[type=submit]
{
    height:30px;
    margin-top:18px;
    background-color: #045FB4;
    outline: none;
    border:2px solid #0B3861;
    color:white;
    font-weight:bold;
}

form.cnx-form a
{
    font-size:0.7em;
    text-decoration: none;
    color: #D8D8D8;
}

form.cnx-form p
{
    display: inline;
    font-size:0.7em;
    color: fff;
}

/* Formulaire d'inscription */

.register-form-container
{
    text-align: center;
    padding:15px;
}

.register-form-container h1,h3
{
    text-align: left !important;
}

form.register-form
{
    display:flex;
    flex-direction: column;
}

.side-by-side-input 
{
    display: flex;
    justify-content: space-between;
}

.side-by-side-input input 
{
    width:46% !important;
}

form.register-form input[type=text]
{
    border-radius:3px;
    border:1px solid grey;
    padding:6px;
    margin-bottom:8px;
}

form.register-form p
{
    text-align:left;
    font-size:0.8em;
    width:80%;
}

form.register-form input[type=submit]
{
    width:40%;
    padding:7px 0;
    color:white;
    font-weight:bold;
    font-size:1.1em;
    background-color: #1D8348;
    border:1px solid black;
    border-radius:3px;
}

/* Partie date de naissance  */

.birth-part
{
    text-align:left;
    margin-bottom:20px;
}

.birth-part-input
{
    display:flex;
    justify-content:left;
}

.birth-part-input input
{
    width: 25%;
    border:1px solid grey;
    border-radius:3px;
    margin-right:5px;
}

/* Partie genre */

.gender-part
{
    display:flex;
    text-align:left;
    font-weight:bold;
    margin-bottom: 10px;
}

.gender-part div:first-child
{
    margin-right:20px;
}

/* Div centrée au milieu de l'écran */

.centered-div 
{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0;
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.example{
    visibility: hidden;
    opacity: 0;
    font-size: 0.8em;
    transition: 0.7s; 
    display: inline;
    /* margin-bottom: 0; */
}

.msgMdp, .equal{
    visibility: hidden;
    opacity: 0;
    font-size: 0.8em;
    font-weight: 500;
    transition: 0.7s; 
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    background: #084B8A;
    color: white;
    border-radius: 4px;
    display: inline;
}

#msgAccount {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    font-weight: 500;
    padding: 5px 0 5px 0;
    transition: 0.7s; 
    background: #084B8A;
    color: white;
    border-radius: 4px;
    font-style: italic;
}
/* .equal{
    visibility: hidden;
    opacity: 0;
    font-style: italic;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 0.8em;
    transition: 0.7s; 
} */

.show{
    visibility: visible;
    opacity: 2;
    font-style: italic;
}

.btn{
    text-align: center;
    width: 100px;
    background-color: #084B8A;
    color: #F2F3F4;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    border: 2px solid #063867;
}
